@page
@model DotnetAPI.Pages.Admin.BessPage.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Bess</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bess.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bess.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bess.CurrentMaxAcIn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bess.CurrentMaxAcIn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bess.CurrentMaxAcOut)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bess.CurrentMaxAcOut)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bess.OperationMode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bess.OperationMode.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Bess.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
